h1 {
    font-size: 50px;
    text-align: center;
}

html {
    background-color: #ffdad6;
}

nav{
    width: 100%;
    height: 70px;
    background-color: #b3cfff;
    padding-top: 5px;
    box-sizing: border-box;
    text-align: center;
  }

  ul{
    display: flex;
  }

  li{
    list-style: none;
  }

  a{
    display: block;
    text-decoration: none;
    color: dimgray;
    margin-right: 50px;
    font-weight: bold;
  }

  img {
      display: block;
      margin: 0 auto;
      width: 30%;
      height: 30%;
  }

  body {
      text-align: center;
  }

  div.main {
      font-size: 25px;
      color: black;
      background-color: #ffc2cb;
  }

  div.kuma {
      font-size: 25px;
      color: black;
  }
  
 